body {
    width: 100vw;
    height: 100vw;
    background: #eee;
    font-family: Helvetica;
    padding: 0px;
    margin: 0px;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

article {
    width: 46em;
    background: white;
    padding: 3em;
    margin: 1em;
    min-height: 100vh;
}

h1 {
    font-size: 56px;
}

.branch-data {
    margin: 0px 0px 5px 0px
}

.report-field {
  break-inside: avoid;
}

.report-field textarea {
    width: 100%;
    height: 10em;
    resize: vertical;
}

.report-field h2:hover {
    text-decoration: underline;
}

.report-field h2:hover {
    cursor: pointer;
}

#report-status {
    top: 10px;
    border: 1px solid grey;
    padding: 1em;
    background: white;
    margin: 2em 0 4em 0;
}

#report-status progress {
    width: 100%;
}

#report-status h3 {
    padding-top: 0px;
    margin-top: 0px;
}
