body {
  width: 100vw;
  height: 100vw;
  background: #eee;
  font-family: Helvetica;
}

main {
  width: 100vw;
  display: flex;
  justify-content:center;
}

article {
  width: 46em;
  background: white;
  padding:3em;
  margin:1em;
  min-height: 100vh;
}

h1 {
  font-size:56px;
}
